#ErrorDocument 401 /401.php

AuthName "Page d'administration protégée"
AuthType Basic
AuthUserFile "C:\wamp\www\Projet3Repo\Web\admin\.htpasswd"
Require valid-user

<Files "401.php">
    Satisfy Any
    Allow From All
</Files>

ErrorDocument 401 /401.php

#<Files ~ "^.*\.([Hh][Tt][AaPp])">
#order allow,deny
#deny from all
#satisfy all
#</Files>
