.container p{
    font-size: 13px;
}

.ndex {
    background-image: url("/Web/images/papier2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.imgTop {
    background-color: #2aabd2;
    background-image: url("http://127.0.0.1/projet3Repo/Web/images/alaska3.jpg");
    background-repeat: no-repeat;
    height: 250px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.top {
    background-color: black;
    opacity: 0.8;
}

.titreSite {
    text-align: center;
    margin-top: 45px;
    font-weight: bold;
    font-size: large;
    background-color: black;
}

.titreSite h1{
    font-weight: bold;
    font-size: 50px;
    color: #dff0d8;
    font-variant: small-caps;
}

.titreSite p{
    font-style: italic;
    font-size: 25px;
    color: #dff0d8;
}


.navbar .navbar-default {
    margin-bottom: 0px;
}
.admin-top {
    background-color: #122b40;
    color: white;
    text-align: center;
    padding: 10px;
}

.admin-title {
    font-weight: old;
    font-variant: small-caps;
}

.titreAdmin h2{
    color: #122b40;
    font-variant: small-caps;
    padding-left: 5px;
    border-bottom: 3px solid #122b40;
}

.alert-danger {
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
}
img{
    float: left;
    width: 55px;
    margin-right: 15px;
}
form {
    background-color: #e8ebf0 ;
    padding: 20px;
    border-radius: 5px;
}
.billet {
    text-align: center;
}

.contenu {
    font-size: 18px;
    text-align: left;
}

.jumbotron p{
    font-size: 18px;
    text-align: left;
}
.billet h2{
    font-variant: small-caps;
    text-align: left;
    border-bottom: 3px solid #333333;

}

.billet a:hover {
    text-decoration: none;
}

.billet .btn {
    margin-top: 15px;
}

.btn-suite {
    background-color: #337ab7;
    color: #fff;
    border-color: #0f0f0f;
    font-size: 12px;
    font-style: italic;
    text-align: center;

}
.btn-suite a:hover {
    color: #fff;

}
.btn-suite:hover {
    background-color: #122b40;
    color: #fff;
    border-color: #0f0f0f;


}
.nbCommentaire {
    text-align: left;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #337ab7;
    margin-top: -20px;
}

.billetUnique{
    background-color: white;
    opacity: 0.8;
}
.commentaire{
    margin-top: 20px;
background-color: #2aabd2;
}

.lienCommentaire {
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: 10px;
}


.formAdminBillet input{
    width: 100%;

}

.formAdminBillet p{
    text-align: center;
}

.formAdminBillet .btn{
    width: 10%;
    margin: auto;
    background-color: #122b40;
    color: white;
}
label{
color: #0A246A;
}

.sousCommentaire {
    margin-left: 50px;
}

.sousCommentaire1 {
    margin-left: 100px;
}

.sousCommentaire2 {
    margin-left: 150px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#formulaire{
    display:none;
}
